:root{
  --primary-color: #EEF0F2;
  --secondary-color: #141414;
  --details-color: #F6AE2D;
  --primary-alt-color: #2D93AD;
  --secondary-alt-color: #7D7C84;
  --third-alt-color: #FFD400;
  --fourth-alt-color: #5E2BFF;
}